<footer class="footer">
  <div class="box">
    <div class="inner-box">
      <i class="fa-solid fa-globe"></i>
      <p>English(IN)</p>
    </div>
    <div class="inner-box" id="inr">
      <i class="fa-solid fa-indian-rupee-sign"></i>
      <p>INR</p>
    </div>
    <div class="inner-box" id="icon">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
  <div class="copyright">
    <p>@2023Wanderlust.inc</p>
  </div>
  <div class="box">
    <p>Privacy Policy</p>
    <p>Terms</p>
    <p>Setups</p>
    <p>Company details</p>
  </div>
</footer>
